<div class="u-flex u-flex-vertical u-height-100-percent">
  <header class="main-header u-padding-inline-end-0">
    <a class="logo" href="/">
      <img src="../assets/logo.svg" alt="logo">
    </a>
    <div class="main-header-end u-margin-inline-end-16">
      <ul class="buttons-list is-with-padding">
        <li class="buttons-list-item is-not-mobile u-padding-inline-0">
          <a href="https://github.com/katienuccio" title="GitHub" target="_blank" rel="noopener noreferrer" class="button is-text">
            <span class="icon-github" aria-hidden="true"></span>
            <span class="text">GitHub</span>
          </a>
        </li>
        <li class="buttons-list-item is-not-mobile u-padding-inline-0">
          <a href="https://www.linkedin.com/in/katienuccio/" title="LinkedIn" target="_blank" rel="noopener noreferrer" class="button is-text">
            <span class="icon-linkedin" aria-hidden="true" style='margin-bottom: 2px'></span>
            <span class="text">LinkedIn</span>
          </a>
        </li>
      </ul>
    </div>
  </header>
  <div class='u-flex u-stretch'>
    <div class='u-flex u-main-center u-flex-vertical u-margin-32'>
      <h5 class='heading-level-5 u-text-center'>
        Need a website? I'm your girl.
      </h5>
      <h2 class='heading-level-2 u-text-center'>
        I have been building solid and scalable frontend products for 5+ years.
      </h2>
      <div class='u-flex u-main-center u-margin-32'>
        <button class="button">
          <span class="text">Get in touch</span>
        </button>
      </div>
      <div class='u-flex u-main-center u-cross-center'>
        <div class="tag">
          <span class="text">Angular</span>
        </div>
        <div class="tag">
          <span class="text">React</span>
        </div>
        <div class="tag">
          <span class="text">Ionic</span>
        </div>
        <div class="tag">
          <span class="text">Typescript</span>
        </div>
        <div class="tag">
          <span class="text">Node.js</span>
        </div>
        <div class="tag">
          <span class="text">AWS</span>
        </div>
        <div class="tag">
          <span class="text">Microsoft Azure</span>
        </div>
        <div class="tag">
          <span class="text">GCP</span>
        </div>
      </div>
    </div>
    <div class='u-flex u-cross-center'>
      <img class='profile-picture' src='assets/profile-picture.jpg' alt='photo of me'>
    </div>
  </div>
</div>
