.main-header {
  position: fixed;
  width: 100%;

  .logo {
    padding-top: 4px;
    padding-left: 16px;
    cursor: pointer;

    h1 {
      font-size: 32px;
      text-shadow: 0.5px 0.5px 0.5px gray;
    }
  }
}

.container {
  height: 100%;
  padding-top: 64px;
  padding-bottom: 20px;

  @media (max-width: 350px) {
    .heading-level-2 {
      font-size: 20px !important;
    }
  }

  &.side-nav {
    padding-top: 64px;
  }

  .profile-picture {
    width: 75%;
    overflow: hidden;
    border-radius: 50%;
  }

  .tag {
    margin: 5px;
  }

  .project-container {
    @media (max-width: 1135px) {
      padding: 10px 15px 0;
    }

    @media (min-width: 1135px) {
      padding: 32px;
    }

    .articles-container {
      height: 65%;

      @media (max-width: 1135px) {
        gap: 10px;
      }

      .card {
        max-width: 350px;
        padding: 0;
        border: none;

        &:hover, &active {
          box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
          transform: translateY(-5px);
        }

        img {
          border-radius: 16px 16px 0 0;
        }

        h5 {
          @media (max-width: 1135px) {
            padding: 20px;
          }

          @media (min-width: 1135px) {
            padding: 32px;
          }
        }
      }
    }
  }

  &.get-in-touch {
    position: relative;

    > div {
      padding: 60px 0 120px 0;
    }

    .form {
      margin-top: 20px !important;

      .form-list {
        gap: 0;

        .form-item {
          .input-text-wrapper:not(.isError) + p {
            visibility: hidden;
          }

          .textarea {
            max-height: 100px;
          }
        }

        @media (max-width: 1135px) {
          .textarea-container {
            max-width: 500px;
          }
        }

        @media (min-width: 1136px) {
          .textarea-container {
            max-width: 1012px;
          }
        }
      }
    }

    .button-container {
      margin-top: 20px;
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .inner-footer {
        border-top: 1px solid #373B4E;
        padding-top: 20px;
        margin: 20px;
      }
    }
  }
}

.u-background-color-pink {
  background: hsl(var(--color-primary-200));
  max-inline-size: unset;
}

.u-color-text-white {
  color: white;
}

.u-title {
  @media (max-width: 1135px) {
    margin: 0 0 32px 0;
  }

  @media (min-width: 1135px) {
    margin: 32px 0;
  }
}
